header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, .video-container {
    background-color: #DCDCDC;
}

/* Простые селекторы*/
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

/* Стили панели навигации */
.navbar p {
    color: darkgray;
    padding-left: 15%;
}

/* Стили панели навигации при наведении мышью */
.navbar p:hover {
    color: aliceblue;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

#header-index {
    color: #44453f;
}

footer {
    /*position: absolute;*/
    bottom: 0;
    font-size: medium;
    color: dimgray;
    line-height: 60%;
    padding-left: 1%;
    /*flex : 0 0 auto;*/
}

aside {
    height: 100%;
    width: 10%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

.search-input input {
    color: black;
    background-color: dimgray;
    margin: 10px 10px 10px 10px;
}

#sidebar .search-input :hover {
    background-color: aliceblue;
}

